@import url("https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:wght@400;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#header header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
@media screen and (max-width: 840px) {
  #header header {
    justify-content: flex-start;
    padding: 0 20px;
  }
}
#header header #brand {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
#header header #brand h1 {
  white-space: nowrap;
  font-size: 20px;
}
#header header #brand img {
  width: 50px;
  height: 50px;
  margin: 10px 1vw;
}
#header header #brand h1 {
  font-family: sans-serif;
}
#header header #nav_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header header #nav_bar ul {
  list-style: none;
  white-space: nowrap;
}
#header header #nav_bar ul li {
  display: inline;
}
#header header #nav_bar ul li a {
  text-decoration: none;
  font-family: "Akshar", sans-serif;
  padding: 5px 12px;
  font-size: 18px;
  color: black;
}
#header header #nav_bar ul li a:hover {
  background: #19e646;
  border-radius: 10px;
  transition: background 0.3s;
}
@media screen and (max-width: 840px) {
  #header header #nav_bar {
    display: none;
  }
}

nav#side_nav_bar {
  background: #dddddd;
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 300px;
  transition: left 0.3s;
  z-index: 2;
}
nav#side_nav_bar ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
nav#side_nav_bar ul a {
  text-decoration: none;
  color: black;
  font-family: "Akshar", sans-serif;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  transition: background 0.3s;
}
nav#side_nav_bar ul a:hover {
  background: #eeeeee;
}

#hamburger_menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 25px;
  transform: translateY(-50%);
  right: 10px;
  display: none;
  z-index: 3;
}
#hamburger_menu span#hamburger_menu_span1, #hamburger_menu span#hamburger_menu_span3, #hamburger_menu span#hamburger_menu_span2 {
  display: block;
  background: black;
  width: 30px;
  height: 6px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hamburger_menu span#hamburger_menu_span2 {
  top: 50%;
}
#hamburger_menu span#hamburger_menu_span3 {
  top: 75%;
}
#hamburger_menu:hover #hamburger_menu_span1, #hamburger_menu:hover span#hamburger_menu_span2, #hamburger_menu:hover span#hamburger_menu_span3 {
  background: #1adb4e;
  transition: 0.3s;
}
@media screen and (max-width: 840px) {
  #hamburger_menu {
    display: block;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

#main {
  background: #fafafa;
}

#title {
  box-sizing: content-box;
  width: clamp(300px, 80%, 1200px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 100px;
}
#title h1 {
  font-size: 50px;
  text-align: center;
}
@media screen and (max-width: 520px) {
  #title h1 {
    font-size: 35px;
  }
}
#title p {
  margin: 30px;
  font-size: 25px;
}
@media screen and (max-width: 520px) {
  #title p {
    font-size: 20px;
  }
}

#image_viewer {
  position: relative;
}
#image_viewer #screenshots {
  position: relative;
  overflow-x: hidden;
}
#image_viewer #screenshots img:first-child {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  height: auto;
  padding: 20px;
}
#image_viewer #screenshots img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(150%);
  transition: transform 0.3s;
  max-width: 100%;
  padding: 20px;
}
#image_viewer #btn-right {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
}
#image_viewer #btn-left {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
  opacity: 0.3;
}

#description-text {
  position: relative;
}
#description-text img {
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
}
#description-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-size: 45px;
}

#how_it_works {
  width: clamp(300px, 80%, 1200px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px;
}
#how_it_works h1, #how_it_works p {
  margin: 20px 0;
}
#how_it_works p {
  font-size: 20px;
}
#how_it_works span {
  background: #cccccc;
}

#download {
  width: clamp(300px, 80%, 1200px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 20px;
  border-radius: 10px;
  padding: 10px;
}
#download h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#download p {
  color: #444;
  margin-left: 10px;
  font-size: 20px;
}
#download .sub-download {
  padding: 5px;
  margin: 30px 20px;
  border-radius: 10px;
  border: 1px solid #999;
  padding: 20px;
  background: white;
}
#download #archlogo {
  display: block;
  max-width: 100%;
  height: 50px;
  filter: drop-shadow(1px 4px 0 black);
  display: none;
}
#download #ubuntulogo {
  height: 50px;
  max-width: 100%;
  display: none;
}
#download .code {
  background: #f5f5f5;
  border-radius: 10px;
  border: 2px solid #999;
  padding: 10px;
  margin: 5px;
}
#download .code p {
  color: black;
}

.section_heading {
  color: #1adb4e;
  margin-top: 40px;
}

a {
  color: #18cc49;
}/*# sourceMappingURL=index.css.map */